body {
  margin: 0px;
  font-family: "Spartan", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 70%;
  border: solid black 1px;
  display: flex;
}

.column {
  width: 50%;
  border: solid black 1px;
}

@media only screen and (max-width: 805px) {
  .container {
    max-width: 90%;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
  }
}
