body {
  margin: 0px;
  font-family: "Spartan", sans-serif;
}
h2 {
  padding: 0 30px;
}

#profile_pic {
  max-width: 70%;
  /* margin: 100%; */
}
.container {
  margin: 50px auto;
  max-width: 70%;
  /* border: solid black 1px; */
  display: flex;
  text-align: center;
  /* display: block; */
}

.column {
  width: 50%;
  /* border: black 1px solid; */
  text-align: center;
}

@media only screen and (max-width: 805px) {
  .container {
    max-width: 90%;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
  }
  .footer h1 {
    font-size: 10px;
  }
  .card {
    width: 100%;
  }
  #profile_pic {
    max-width: 90%;
  }
}
