nav {
  height: 50px;
  display: flex;
  padding: 30px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-family: "Spartan", sans-serif;
  background-color: lightgoldenrodyellow;
}

#home {
  margin-left: 5px;
  font-size: 25px;
}

nav a {
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (max-width: 805px) {
  .links {
    display: none;
  }

  /* nav {
    justify-content: center;
  } */
}
