.container-services {
  display: block;
  margin: 50px auto;
  max-width: 70%;
  text-align: center;
}

.container-services h3 {
  padding: 15px;
}

.container-services p {
  text-align: center;
}

#button {
  margin: 50px;
}
